.loadingGif{
    width: 350px;
    height: 325px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 4rem;
    margin-top: 3rem;
    margin: auto;
}

.detailsContainer{

    margin: 5rem 2rem;
    padding: 3rem; 
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
}

.detailsContainer .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow .3s;
}

.item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.details{
    background: linear-gradient(180deg, #FFFFFF, #6DD5FA, #2980B9);
}

.activityCard{
    background: linear-gradient(180deg, #2980B9, #6DD5FA, #FFFFFF);

}